@charset "UTF-8";
@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Yekan Bakh EN 04 Regular.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url("../font/Yekan Bakh EN 05 Medium.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("../font/Yekan Bakh EN 06 Bold.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("../font/Yekan Bakh EN 06 Bold.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 700;
  src: url("../font/Yekan Bakh EN 07 Heavy.woff") format("woff"); }

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 800;
  src: url("../font/Yekan Bakh EN 08 Fat.woff") format("woff"); }

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

.container {
  width: 80%;
  margin: 0 auto; }

h3 {
  font-family: YekanBakh;
  font-size: 3rem;
  font-weight: 500;
  color: #0B3A42; }

.secondary__heading {
  font-family: YekanBakh;
  font-size: 1.5rem;
  font-weight: 400;
  color: #155A6D; }

input {
  font-family: YekanBakh;
  font-size: 1.5rem;
  font-weight: 500;
  width: 80%;
  padding: 1.5rem;
  background-color: #ffffff;
  border: 0.1rem solid #DBE4F2;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  outline: none; }
  input::placeholder {
    font-family: YekanBakh;
    font-size: 1.5rem;
    font-weight: 400;
    color: #DBE4F2;
    margin-right: 1rem; }

.header {
  background-color: #1fc5b9;
  background-image: url(/img/general-header-bg.svg);
  background-position: bottom;
  background-repeat: repeat-x; }
  .header_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0; }
  .header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1; }
    .header__navbar__item {
      list-style: none;
      margin-left: 3rem;
      font-family: YekanBakh;
      font-size: 1.7rem;
      font-weight: 400; }
    .header__navbar__link {
      text-decoration: none;
      color: #FAFAFA; }
  .header__logo {
    width: 5rem; }
  .header__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; }
    .header__cta > a:not(:last-child) {
      font-family: YekanBakh;
      font-size: 1.7rem;
      font-weight: 400;
      margin-right: 3rem;
      color: #FAFAFA;
      text-decoration: none; }
    .header__cta--signup {
      padding: .5rem 3rem;
      border-radius: 4rem;
      background-color: rgba(0, 0, 0, 0.2); }
    .header__cta--lang-icon {
      width: 2.5rem;
      margin-bottom: -1rem;
      margin-right: .5rem; }
    .header__cta--call {
      width: 4rem;
      margin-right: 3rem;
      padding: 1rem;
      color: #FAFAFA;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.2); }
  .header__heading-section {
    text-align: center;
    margin: 3rem 3rem 0 3rem;
    padding-bottom: 12rem; }
    .header__heading-section > h2 {
      font-family: YekanBakh;
      font-size: 5rem;
      font-weight: 700;
      text-shadow: 0.2rem 0.6rem #455A64;
      letter-spacing: .1rem;
      color: #FAFAFA; }

.project {
  width: 100%;
  background-color: #F5FAFA;
  padding: 12rem 0; }
  .project__acc-panel {
    font-family: YekanBakh;
    font-size: 2rem;
    font-weight: 500;
    display: none;
    padding: 2rem 2rem;
    margin: 3rem 0;
    border-radius: 2rem;
    overflow: hidden;
    text-align: center; }
  .project .icon {
    padding: 1rem;
    border-radius: 1rem;
    background-color: #20C5BA;
    cursor: pointer; }
  .project__heading {
    text-align: center;
    margin-bottom: 3rem; }
  .project__tab {
    width: 100%;
    height: auto; }
    .project__tab--item:not(:first-child) {
      margin-right: 2rem; }
    .project__tab--item {
      font-family: YekanBakh;
      font-size: 1.5rem;
      font-weight: 500;
      width: 20rem;
      padding: 1.5rem 2rem;
      border: none;
      border-radius: 1rem 1rem 0 0;
      cursor: pointer;
      position: relative; }
      .project__tab--item.active {
        background-color: #ffffff; }
        .project__tab--item.active::after, .project__tab--item.active::before {
          content: '';
          width: 52%;
          height: 20%;
          border: 3px solid #fff;
          position: absolute;
          bottom: -.3rem;
          border-top: 0; }
        .project__tab--item.active:not(:first-child):before {
          border-right: 0;
          -moz-border-radius: 0 0 0 3rem;
          -webkit-border-radius: 0 0 0 3rem;
          border-radius: 0 0 0 3rem;
          right: -10rem; }
        .project__tab--item.active:after {
          border-left: 0;
          -moz-border-radius: 0 0 3rem 0;
          -webkit-border-radius: 0 0 3rem 0;
          border-radius: 0 0 3rem 0;
          left: -10rem; }
      .project__tab--item > img {
        margin-left: 1rem;
        margin-bottom: -.7rem; }
    .project__tab-main {
      border: 0.2rem solid #20C5BA;
      border-radius: 3rem;
      padding: 0 3rem; }
  .project__content {
    display: none;
    padding: 4rem 5rem;
    background-color: #ffffff;
    border-radius: 3rem 0 3rem 3rem; }
    .project__content h4 {
      font-family: YekanBakh;
      font-size: 1.7rem;
      font-weight: 600;
      margin-top: 1rem; }
    .project__content p {
      font-family: YekanBakh;
      font-size: 1.5rem;
      font-weight: 400; }
    .project__content.active {
      display: block; }
    .project__content--item {
      font-family: YekanBakh;
      font-size: 2rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 2rem 3rem;
      cursor: pointer; }
    .project__content .notice {
      margin-left: 1rem; }
    .project__content-main {
      display: none;
      border: 1px solid #20C5BA;
      border-radius: 3rem;
      margin: 2rem 0; }
    .project__content-feature {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 2rem 0; }
      .project__content-feature--widget {
        width: 20rem;
        height: 20rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 3rem;
        border-radius: 2rem;
        background-color: #F6F8FB; }
    .project__content-details {
      display: flex;
      justify-content: space-around;
      margin: 3rem 0;
      padding: 0 2rem; }
      .project__content-details--icon {
        flex: 0;
        margin: 1.5rem 2rem; }
      .project__content-details--paragraph {
        flex: 1;
        margin-right: 2rem; }
        .project__content-details--paragraph .note {
          display: flex;
          margin: 2rem 0; }
    .project__content-share {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 0.2rem solid #455A64;
      border-radius: 2rem;
      padding: 2rem;
      margin: 3rem 0; }
      .project__content-share p {
        color: #455A64;
        cursor: pointer; }
      .project__content-share--right {
        flex: 0; }
        .project__content-share--right > img {
          margin-right: 2rem; }
      .project__content-share .address {
        flex: 1;
        margin-right: 3rem; }
      .project__content-share--left {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.1rem solid #455A64;
        margin-left: 3rem;
        border-radius: 1rem; }

.session {
  padding: 5rem 0;
  background-color: #EEF2F7;
  width: 100%; }
  .session__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem; }
    .session__header > h3 {
      margin-right: 1rem;
      margin-bottom: -2rem; }
  .session__paragraph {
    padding: 1rem 2rem; }
  .session__tabs {
    margin: 2rem 0;
    position: relative; }
    .session__tabs--line {
      position: absolute;
      width: 7rem;
      height: .3rem;
      left: 0;
      bottom: -.5rem;
      border-radius: 5rem;
      transition: left 0.5s ease-in-out, width 0.5s 0.10s;
      background-color: #20C5BA;
      pointer-events: none; }
    .session__tabs-navbar {
      font-family: YekanBakh;
      font-size: 1.7rem;
      font-weight: 400;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .session__tabs-navbar-item {
        list-style: none;
        margin: 0 1rem; }
        .session__tabs-navbar-item--link {
          text-decoration: none;
          color: #0B3A42;
          cursor: pointer; }
  .session__tooltip {
    display: none;
    margin: 4rem 1rem;
    padding: 2rem;
    background-color: #ffffff;
    border: 0.2rem solid #20C5BA;
    border-radius: 2rem;
    position: relative; }
    .session__tooltip.active {
      display: block; }
    .session__tooltip::before, .session__tooltip::after {
      content: "";
      position: absolute;
      border-left: 1rem solid transparent;
      border-right: 1rem solid transparent;
      top: -1.2rem;
      right: 4%; }
    .session__tooltip::before {
      border-bottom: 1rem solid #20C5BA;
      margin-bottom: .5rem; }
    .session__tooltip::after {
      border-bottom: 1rem solid #ffffff;
      margin-top: .2rem;
      z-index: 1; }
    .session__tooltip--header {
      font-family: YekanBakh;
      font-size: 2rem;
      font-weight: 600;
      color: #0B3A42; }
    .session__tooltip--paragraph {
      font-family: YekanBakh;
      font-size: 1.3rem;
      font-weight: 400;
      text-align: justify;
      padding: .5rem;
      margin-bottom: 1rem; }
    .session__tooltip--status {
      font-family: YekanBakh;
      font-size: 1.3rem;
      font-weight: 700;
      padding-right: .5rem;
      color: #20C5BA; }

.signUp {
  background-color: #ffffff;
  padding: 6rem 0;
  margin: 0 2rem; }
  .signUp__header {
    margin: 2rem .5rem; }
    .signUp__header > h4 {
      font-family: YekanBakh;
      font-size: 1.9rem;
      font-weight: 600; }
    .signUp__header > p {
      font-family: YekanBakh;
      font-size: 1.5rem;
      font-weight: 400; }
  .signUp__forms {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F6F8FB;
    padding: 3rem 0;
    border-radius: 2rem; }
    .signUp__forms input {
      width: 80%;
      padding: 1.5rem;
      background-color: #ffffff;
      border: 0.1rem solid #DBE4F2;
      border-radius: 1.5rem;
      margin: 1rem 0;
      overflow: hidden;
      outline: none; }
      .signUp__forms input::placeholder {
        font-family: YekanBakh;
        font-size: 1.5rem;
        font-weight: 400;
        color: #DBE4F2;
        margin-right: 1rem; }
    .signUp__forms label {
      font-family: YekanBakh;
      font-size: 1.5rem;
      font-weight: 500;
      color: #585858;
      margin: .7rem 0; }
      .signUp__forms label > .required {
        color: #20C5BA;
        margin-left: .5rem; }
    .signUp__forms > span {
      font-family: YekanBakh;
      font-size: 2rem;
      font-weight: 400;
      color: #155A6D;
      display: block;
      margin-left: auto;
      padding-bottom: 2rem; }
      .signUp__forms > span:before {
        content: "";
        margin-left: 1rem;
        border-left: 0.4rem solid #20C5BA;
        border-radius: .3rem; }
    .signUp__forms-comment {
      display: flex; }
    .signUp__forms-sign {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem 2rem;
      margin: .5rem 1rem;
      width: 100%; }
      .signUp__forms-sign > .area {
        margin-left: 1.5rem;
        margin-bottom: auto;
        padding-top: 1.5rem; }
      .signUp__forms-sign > textarea {
        font-family: YekanBakh;
        font-size: 1.5rem;
        font-weight: 500;
        width: 90%;
        outline: none;
        border: 0.2rem solid #DBE4F2;
        border-radius: 3rem;
        padding: 1.5rem;
        margin-top: 2rem; }
        .signUp__forms-sign > textarea::placeholder {
          color: #DBE4F2; }
      .signUp__forms-sign > .submit {
        width: 15%;
        background-color: #EEF2F7;
        padding: 1rem 3.5rem;
        margin-top: 1rem;
        margin-right: auto;
        margin-left: 2.5rem;
        cursor: pointer; }
        .signUp__forms-sign > .submit:hover {
          background-color: #009191;
          color: #ffffff; }
      .signUp__forms-sign #phone::-webkit-outer-spin-button,
      .signUp__forms-sign #phone::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0; }
      .signUp__forms-sign .move > input {
        margin-right: 2rem; }
      .signUp__forms-sign .moveleft > input {
        margin-right: 1rem; }
      .signUp__forms-sign .d-right {
        margin-right: 1rem; }
      .signUp__forms-sign-input {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        position: relative; }
        .signUp__forms-sign-input > .note {
          font-family: YekanBakh;
          font-size: 1.5rem;
          font-weight: 400;
          display: block;
          margin-top: 1rem;
          color: #585858; }
        .signUp__forms-sign-input--format {
          border-radius: 1.5rem;
          height: 6rem;
          width: 80%;
          background-color: #ffffff;
          border: 0.2rem solid #DBE4F2;
          position: relative; }
          .signUp__forms-sign-input--format:hover {
            border: 0.2rem solid #20C5BA;
            color: #ffffff; }
        .signUp__forms-sign-input--filename {
          position: relative;
          font-family: YekanBakh;
          font-size: 1.5rem;
          font-weight: 400;
          color: #585858;
          right: 1rem;
          z-index: 2000; }
          .signUp__forms-sign-input--filename#resume-file {
            font-family: YekanBakh;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1.5rem 1rem;
            color: #20C5BA; }
          .signUp__forms-sign-input--filename#portfolio-file {
            font-family: YekanBakh;
            font-size: 1.5rem;
            font-weight: 500;
            margin: 1.5rem 1rem;
            color: #20C5BA; }
          .signUp__forms-sign-input--filename .optional {
            display: block;
            margin: 1.7rem 0;
            color: #DBE4F2; }
        .signUp__forms-sign-input--file {
          opacity: 0;
          width: 100% !important;
          top: 0;
          bottom: 0;
          cursor: pointer;
          position: absolute;
          padding: 3rem !important;
          margin-top: -.3rem !important;
          z-index: 10000; }
        .signUp__forms-sign-input--btn {
          font-family: YekanBakh;
          font-size: 1.5rem;
          font-weight: 700;
          color: #585858;
          background-color: #EEF2F7;
          border: 0.2rem solid #DBE4F2;
          position: absolute;
          top: -.2rem;
          left: -.3rem;
          padding: 1.6rem 2rem;
          border-radius: 1.5rem;
          z-index: 200;
          cursor: pointer;
          z-index: 80; }
        .signUp__forms-sign-input--format:hover .signUp__forms-sign-input--btn {
          background-color: #20C5BA;
          border: 0.2rem solid #20C5BA;
          color: #ffffff; }
        .signUp__forms-sign-input .warn-message {
          border: .2rem solid red; }
          .signUp__forms-sign-input .warn-message .signUp__forms-sign-input--btn {
            border: .2rem solid red; }
        .signUp__forms-sign-input--select {
          font-family: YekanBakh;
          font-size: 1.6rem;
          font-weight: 500;
          width: 80%;
          background-color: #EEF2F7;
          padding: 2.5rem;
          border-radius: 1.5rem;
          margin-right: 2rem;
          overflow: hidden;
          outline: none;
          cursor: pointer;
          position: relative; }
          .signUp__forms-sign-input--select::after {
            content: "";
            background: url("/img/Component 20 – 27.svg");
            background-size: contain;
            background-repeat: no-repeat;
            height: 1rem;
            width: 3rem;
            position: absolute;
            left: 2rem;
            top: 2rem; }
        .signUp__forms-sign-input > .select-box {
          position: absolute;
          top: 4rem;
          bottom: -1.5rem;
          min-height: 27rem;
          background-color: #ffffff;
          border: 0.2rem solid #DBE4F2;
          border-radius: 1.5rem;
          padding: 1rem;
          display: flex;
          flex-direction: column;
          width: 80%;
          margin-right: 7rem;
          margin-top: 1rem;
          opacity: 0;
          display: none; }
          .signUp__forms-sign-input > .select-box.active-select {
            opacity: 1;
            display: block; }
          .signUp__forms-sign-input > .select-box .radio {
            display: none; }
          .signUp__forms-sign-input > .select-box > .option {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 1rem;
            cursor: pointer; }
            .signUp__forms-sign-input > .select-box > .option:hover {
              background-color: #DBE4F2;
              border-radius: 1.5rem; }
            .signUp__forms-sign-input > .select-box > .option > label {
              cursor: pointer;
              margin-left: auto;
              padding: .7rem; }
            .signUp__forms-sign-input > .select-box > .option:hover label {
              color: #20C5BA; }
            .signUp__forms-sign-input > .select-box > .option > label {
              cursor: pointer; }
