*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10/16 = 62.5%
}
.container{
  width:80%;
  margin: 0 auto;
}

h3{
  @include fontStyle(3rem, 500);
  color: $color-secondary;
}

.secondary__heading{
  @include fontStyle(1.5rem, 400);
  color: $color-secondary-light;
}