*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem =10px, 10/16 = 62.5%

  @include respond(tab-land) {
    // width < 1200
    font-size: 56.25%; // 1rem = 9px, 9/16 = 56.25%
  }

  @include respond(tab-port) {
    // width < 900
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(phone) {
    // width < 600
    font-size: 31.25%; // 1rem = 5px, 5/16 = 31.25%

    .change-icon{
      width: 3rem;
    }
    .notice{
      display: none;
    }
    hr{
      display: none;
    }
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}
.container{
  width:80%;
  margin: 0 auto;
}

h3{
  @include fontStyle(3rem, 500);
  color: $color-secondary;
}

.secondary__heading{
  @include fontStyle(1.7rem, 400);
  color: $color-secondary-light;
}

input {
  @include fontStyle(1.5rem ,500);
  width: 80%;
  padding: 1.5rem;
  background-color: $white;
  border: .1rem solid $light-gray-border;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
  overflow: hidden;
  outline: none;

  &::placeholder {
    @include fontStyle(1.5rem, 400);
    color: $light-gray-placeholder;
    margin-right: 1rem
  }
}
