@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 400;
  src: url("../font/Yekan Bakh EN 04 Regular.woff") format("woff");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 500;
  src: url("../font/Yekan Bakh EN 05 Medium.woff") format("woff");
}

@font-face {
  font-family: YekanBakh;
  font-style: normal;
  font-weight: 600;
  src: url("../font/Yekan Bakh EN 06 Bold.woff") format("woff");
}