.header {
  background-color: $color-primary;
  background-image: url(/img/general-header-bg.svg);
  background-position: bottom;
  background-repeat: repeat-x;


  &_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;

    &__item {
      list-style: none;
      margin-left: 3rem;
      @include fontStyle(1.7rem, 400);
    }

    &__link {
      text-decoration: none;
      color: $color-white;
    }
  }

  &__logo {
    width: 5rem;
  }

  &__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;

    &>a:not(:last-child) {
      @include ctaStyle();
    }

    &--signup {
      padding: .5rem 3rem;
      border-radius: 4rem;
      background-color: rgba(0, 0, 0, .2);
      &:hover{
      background-color: rgba(65, 62, 62, 0.8);

      }
    }

    &--lang-icon {
      width: 2.5rem;
      margin-bottom: -1rem;
      margin-right: .5rem;
    }

    &--call {
      width: 4rem;
      margin-right: 3rem;
      padding: 1rem;
      color: $color-white;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, .2);
      &:hover{
      background-color: rgba(65, 62, 62, 0.8);

      }
    }
  }

  &__heading-section {
    text-align: center;
    margin: 3rem 3rem 0 3rem;
    padding-bottom: 12rem;

    &>h2 {
      @include fontStyle(5rem, 700);
      text-shadow: .2rem .6rem $light-gray;
      letter-spacing: .1rem;
      color: $color-white;
    }
  }

}