@mixin fontStyle($size,$weight){
  font-family: YekanBakh;
  font-size: $size;
  font-weight: $weight
}
@mixin ctaStyle {
  @include fontStyle(1.7rem, 400);
  margin-right: 3rem;
  color: $color-white;
  text-decoration: none;
}