$color-primary:#1fc5b9;
$color-secondary:#0B3A42;
$color-secondary-light:#155A6D;
$color-white:#FAFAFA;
$color-light:#F5FAFA;
$white:#ffffff;
$light-gray:#455A64;
$light-gray-2:#F6F8FB;
$light-blue:#20C5BA;
